*{
    margin:0;
    padding:0;
    list-style: none;
    font-size: 50px;
    color: white;
}
#div{
    width: 1050px;
    margin:0 auto;
}
#div ul{
    width: 200px;
    float: left;
    margin: 0 5px;

}
#div ul li{
    width: 100%;
    background: url("../img2/default.gif") no-repeat center #e1e1e1;
    margin-bottom: 10px;
}
#div ul li img{
    display: block;
    width: 100%;
}
#btn{
    width: 60px;
    height: 60px;
    background: darkgreen;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    color: white;
    position: fixed;
    right: 10px;
    bottom:10px;
    display: none;
}